<div class="row" ng-app="AngularRails" ng-controller="SessionsController">
	
	<div class="login" ng-show="!authorized()">

		<div class="alert warning">

			Please Login to access my secrets

		</div>

		<form ng-submit="signIn()">
			<div class="alert alert-error" id="errors" ng-show="authErrors">
				{{ authErrors }}
			</div>

			<div class="control-group">
				<%= label_tag :email %>
				<div class="controls">
					<%= email_field_tag :email, '', autofocus: true, "ng-model"=>"email" %>
				</div>
			</div>

			<div class="control-group">

				<%= label_tag :password %>

				<div class="controls">

					<%= password_field_tag :password, '', "ng-model"=>"password" %>

				</div>

			</div>

			<%= submit_tag "Sign In", class: "btn btn-large btn-primary" %>

		</form>

		<%#= form_for(User.new, :as => "user", :url => session_path("user")) do |f| %>
			<!-- <div class="control-group">

				<%#= f.label :email %>

				<div class="controls">

					<%#= f.email_field :email %>

				</div>

			</div>
			<div class="control-group">

				<%#= f.label :password %>

				<div class="controls">

					<%#= f.password_field :password %>

				</div>

			 </div>

			 <%#= f.submit "Sign In", class: "btn btn-large btn-primary" %>
			-->
		<%# end %>

	</div>

	<div class="secure" ng-show="authorized()">

		<h1>My Super Secure Stuff</h1>

		<div class="pull-right">

			<%#= link_to "Sign Out", destroy_user_session_path, class: "btn", method: :delete %>
			<button class="btn" ng-click="signOut()">Sign Out</button>

		</div>

	</div>

</div>